@inherits LayoutComponentBase

<Layout SideWidth="0" IsPage="true" IsFullSide="true" IsFixedHeader="true" IsFixedFooter="true"
        ShowFooter="true" ShowGotoTop="true" ShowCollapseBar="true" OnCollapsed="@OnCollapsed" Menus="@GetIconSideMenuItems()">
    <Header>
        @*<span class="ml-3 flex-fill">Bootstrap of Blazor</span>
        <img src="_content/BootstrapBlazor.Shared/images/Argo.png" class="layout-avatar-right" />
        <span class="ml-3 d-none d-sm-block">超级管理员</span>*@
    </Header>
    <Side>
        <div class="layout-banner">
            @if (IsCollapsed)
            {
                <img class="layout-logo" src="images/logo.png"  style="width:40px" />
            }
            else
            {
                <img class="layout-logo" src="images/logo-color.png" style="width:100px" />
            }
            @*<div class="layout-title">
            <span>演示系统</span>
        </div>*@
        </div>
        @*<div class="layout-user">
                <img class="layout-avatar" >
                <div class="layout-title">
                    <span>管理员</span>
                </div>
                <div class="layout-user-state"></div>
            </div>*@
    </Side>
    <Main>
        <CascadingValue Value="this" IsFixed="true">
            @Body
        </CascadingValue>
    </Main>
    <Footer>
        <div class="text-center flex-fill">
            <a href="https://gitee.com/LongbowEnterprise/BootstrapAdmin" target="_blank">Bootstrap Admin</a>
        </div>
    </Footer>
</Layout>
<style>
    .layout.is-page .layout-header {
        /* background-color: #17a2b8; */
        height: 50px;
        /* color: #fff; */
        display: flex;
        align-items: center;
        padding: 1rem;
        background-color: #fff !important;
    }

    .layout.is-page .layout-main {
        min-height: calc(100vh - 130px);
        background: #fff;
        margin: 20px;
    }

    .layout.is-page .layout-right, .layout.is-page .has-sidebar .layout-main {
        background: #f0f2f5;
    }

    .layout.is-page .layout-footer {
        background-color: #fff;
    }

    .layout-header-bar {
        padding: unset;
        color: #000000;
        background-color: unset;
        border-color: unset;
        border-radius: unset;
    }

    a:hover {
        color: #1890ff;
    }

    .layout.is-page .layout-side {
        color: rgba(255,255,255,.65);
        background: #001529;
    }

        .layout.is-page .layout-side .layout-banner {
            background: rgba(255, 255, 255, 0.2);
            justify-content: center;
        }
</style>