:root {
    --primaryColor: #001529;
    --secondaryColor: #f4f4f4;
    --bgMenuActive: #1890ff;
    --bgButton: #1890ff;
    --logoImageUrl: url(/img/logo-new.png);
    --bgAside: var(--primaryColor);
    --lightColor: #f0f2f5;
    --dangerColor: f5222d;
    --warningColor: #fa8c16;
    --successColor: #52c41a;
}
